<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Perf-o-Matic</title>
{% if DEBUG %}
    <link rel="stylesheet" href="/static/css/Aristo/jquery-ui-1.8.7.custom.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/summary.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/apps.css" type="text/css"/>
{% else %}
    <link rel="stylesheet" href="/static/css/apps-summary-min.css" type="text/css"/>
{% endif %}

</head>

<body>

<!--Toppanel-->

<div class="ui-widget ui-widget-header ui-corner-top su-toolbar-base app-toppanel">
   <div class="app-title">
        <a href=""><span id="logo"></span></a>
   </div>
</div>

<label>
    <div id="su_legend" class="ui-state-highlight ui-corner-all su-data-series-panel" style="display:none;">
      <input type="checkbox" title="toggle" style="margin-left:2px; margin-right:5px; float:left;" />
      <div name="su_dataset_title" class="su-wordwrap css-left" style="width:100px; margin-top:4px;"></div>
    </div>
</label>

<label>
    <div id="su_test_legend" class="ui-state-highlight ui-corner-all su-data-series-panel" style="display:none;">
      <input type="radio" name="test_type" style="margin-left:2px; margin-right:5px; float:left;" />
      <div name="su_dataset_title" class="su-wordwrap css-left" style="width:100px; margin-top:4px;"></div>
    </div>
</label>

<div id="app_container" class="ui-widget ui-widget-header ui-corner-top app-container">
    <div id="app_b2ghaystack_dialog" style="display:none;" title="B2G Haystack CMD Generator">
        <form>
            <fieldset>
                <legend>Positional Arguments</legend>
                <label for="device_name" title="name of device">Device Name</label>
                <input type="text" name="device_name" class="text ui-widget-content ui-corner-all">
                <br><br>
                <label for="job_name" title="name of the jenkins job to execute">Job Name</label>
                <input type="text" name="job_name" class="text ui-widget-content ui-corner-all">
                <br><br>
                <label for="good_rev" title="last known good revision">Good Revision</label>
                <input size="50" type="text" name="good_rev" class="text ui-widget-content ui-corner-all">
                <br><br>
                <label for="bad_rev" title="first known bad revision">Bad Revision</label>
                <input size="50" type="text" name="bad_rev" class="text ui-widget-content ui-corner-all">
                <br><br>

            </fieldset>
            <br><br>
            <fieldset>
                <legend>Optional Arguments</legend>
                <label for="applications" title="List of applications to use. Defaults to those displayed on graph.">-a</label>
                <input type="text" name="applications" size="60" class="text ui-widget-content ui-corner-all">
                <br><br>
                <label for="max_builds" title="Maximum number of builds to trigger.">-m</label>
                <input type="text" size="4" name="max_builds" class="text ui-widget-content ui-corner-all" value=10>
                <br><br>
                <label for="branch" title="Branch to use.">-b</label>
                <input type="text" name="branch" class="Text ui-widget-content ui-corner-all" value="mozilla-central">
                <br><br>

                <label for="jenkins_url" title="URL of jenkins instance.">-j</label>
                <input type="text" name="jenkins_url" class="Text ui-widget-content ui-corner-all" value="http://localhost:8080">
                <br><br>
            </fieldset>
            <h3>b2ghaystack command</h3>
            <textarea id="app_tr" name="b2g_haystack_cmd" cols="65" rows="6">
            </textarea>
            <br>
            <a href="https://github.com/davehunt/b2ghaystack" target="_blank">Click here for cmd usage documentation</a>
            </fieldset>
        </form>
    </div>

   <div id="test_series" class="ui-widget ui-widget-header ui-corner-all app-list-two">
   </div>
   <div class="ui-widget ui-widget-header ui-corner-all app-list-controls-two">
        <div style="padding:5px;" class="su-large-text">Tests</div>
   </div>
   <div id="app_series" class="ui-widget ui-widget-header ui-corner-all app-list">
   </div>
   <label>
        <div class="ui-widget ui-widget-header ui-corner-all app-list-controls">
            <input id="app_select_apps" type="checkbox" style="margin-top:5px; margin-left:5px; margin-right:5px; float:left;" title="Select/Unselect all applications" checked>
            <div style="padding:5px;" class="su-large-text">Apps</div>
        </div>
   </label>
   <div class="ui-widget ui-widget-header ui-corner-all app-control-container">
        <div style="display:inline;">
            <div class="app-control-element su-large-text">FFOS Apps</div>
            <div style="margin-right:2px;" class="app-control-element app-control-small-element">Test:<span id="app_test_name" class="app-data"></span></div>
            <div style="margin-left:2px; margin-right:20px;" class="app-control-element">Time Range:
                <select id="app_time_range">
                    <option value="7">7 Days</option>
                    <option value="30">30 Days</option>
                    <option value="60">60 Days</option>
                    <option value="90">90 Days</option>
                </select>
            </div>
            <div style="margin-left:2px; margin-right:10px;" class="app-control-element">Gaia Branch:
                <select id="app_branch">
                </select>
            </div>
            <div style="margin-left:10px; margin-right:10px;" class="app-control-element">Device:
                <select id="app_device">
                </select>
            </div>
            <label style="margin-left:3px; margin-right:3px;" title="Ploat the average/mean of the replicates" class="app-control-element">
                <input id="app_plot_avg" type="radio" name="plot-this" value="avg" checked/>Avg
            </label>
            <label style="margin-left:3px; margin-right:3px;" title="Plot the median of the replicates" class="app-control-element">
                <input id="app_plot_median" type="radio" name="plot-this" value="median" />Median
            </label>
            <label style="margin-left:3px; margin-right:3px;" title="Show error bars" class="app-control-element">
                <input id="app_plot_error_bars" type="checkbox" value="median" />Bars
            </label>
            <label id="app_control_menu" style="margin-left:3px; margin-right:3px; float:right;" title="Toggle Navigation Controls">
                <div class="ui-icon ui-icon-arrow-4-diag"></div>
            </label>
        </div>
    </div>
   <div class="ui-widget ui-widget-header ui-corner-all app-graph-container">
        <div id="app_perf_wait" class="app-spinner"></div>
        <div id="app_perf_data_container" style="display:none;">
            <div id="app_perf_chart_vertical_text" style="position:absolute; left:-68px; top:10px;" class="su-vertical-text"><span class="app-y-axis-type">Average</span>&nbsp;<span class="app-perf-y-axis-label"></span></div>
            <div id="app_perf_no_chartdata" class="app-no-data-message" style="display:none;">No Data Found</div>
            <div id="app_perf_chart" style="width:905px; height:370px; margin-top:5px; margin-left:35px;"></div>
            <div id="app_navigation_menu_body" style="position:absolute; width:100px; left:885px; top:10px; z-index:10000;">
                <div style="position:relative; margin-left:16px;">
                    <div id="app_zoom_out" class="ui-icon ui-icon-plus" title="Zoom In"></div>
                    <div id="app_pan_n" class="ui-icon ui-icon-triangle-1-n" title="Pan Up"></div>
                </div>
                <div style="position:relative; width:100%;">
                    <div id="app_pan_w" style="float:left;" class="ui-icon ui-icon-triangle-1-w" title="Pan Right"></div>
                    <div id="app_pan_home" style="float:left;" class="ui-icon ui-icon-home" title="Center Graph"></div>
                    <div id="app_pan_e" style="float:left;" class="ui-icon ui-icon-triangle-1-e" title="Pan Left"></div>
                    <div style="clear:both;"></div>
                </div>
                    <div style="clear:both;"></div>
                <div style="position:relative; margin-left:16px;">
                    <div id="app_pan_s" class="ui-icon ui-icon-triangle-1-s" title="Pan Down"></div>
                    <div id="app_zoom_in" class="ui-icon ui-icon-minus" title="Zoom In"></div>
                </div>
            </div>
            <div id="app_perf_detail_container" class="ui-widget ui-widget-header ui-corner-all app-detail-graph-container">
                <div style="width:120px;" class="app-control-element app-control-small-element">App:<span id="app_series_application" class="app-data"></span></div>
                <div style="width:160px;" class="app-control-element app-control-small-element">Gaia Rev:&nbsp;<a id="app_series_revision" target="_blank" class="app-data"></a></div>
                <div style="width:140px;" class="app-control-element app-control-small-element">Date:<span id="app_series_formatted_date_run" class="app-data"></span></div>
                <div style="width:85px;" class="app-control-element app-control-small-element">Avg:<span id="app_series_avg" class="app-data"></span></div>
                <div style="width:85px;" class="app-control-element app-control-small-element">Med:<span id="app_series_median" class="app-data"></span></div>
                <div style="width:80px;" class="app-control-element app-control-small-element">Min:<span id="app_series_min" class="app-data"></span></div>
                <div style="width:80px;" class="app-control-element app-control-small-element">Max:<span id="app_series_max" class="app-data"></span></div>
                <div style="width:80px;" class="app-control-element app-control-small-element">Std:<span id="app_series_std" class="app-data"></span></div>
            </div>
        </div>
   </div>
   <div class="app-hints su-light-text">Hint: Select a test below to load performance data</div>
   <div style="left:450px;" class="app-hints su-light-text">Hint: Click on a point above to load the associated replicates below</div>
   <div class="ui-widget ui-widget-header ui-corner-all app-control-container-two">
        <div style="display:inline;">
            <div style="width:150px;" class="app-control-element su-large-text">Test Replicates</div>
            <div style="margin-left:10px; margin-right:10px;" class="app-control-element app-control-small-element">App:<span id="app_replicate_application" class="app-data"></span></div>
            <div style="margin-left:10px; margin-right:10px;" class="app-control-element app-control-small-element">Test:<span id="app_replicate_test" class="app-data"></span></div>
            <div style="margin-left:10px; margin-right:10px;" class="app-control-element app-control-small-element">Gaia Revision:&nbsp;<a id="app_replicate_revision" target="_blank" class="app-data"></a></div>
            <div style="margin-left:10px; margin-right:10px;" class="app-control-element app-control-small-element">Gecko Revision:&nbsp;<a id="app_replicate_gecko_revision" target="_blank" class="app-data"></a></div>
        </div>
    </div>
   <div class="ui-widget ui-widget-header ui-corner-all app-graph-container-two">


        <div id="app_replicate_wait" style="height:380px;" class="app-spinner"></div>
        <div id="app_replicate_data_container" style="display:none;">
            <div id="app_replicate_chart_vertical_text" style="position:absolute; left:-45px; top:50px;" class="su-vertical-text"><span class="app-replicate-y-axis-label"></span></div>
            <div id="app_rep_no_chartdata" class="app-no-data-message" style="margin-left:300px; display:none;">No Data Found</div>
            <div id="app_replicate_chart" style="width:605px; height:400px; margin-top:30px; margin-left:35px;"></div>
            <div class="ui-widget ui-widget-header ui-corner-all app-detail-graph-container app-replicate-graph-detail" style="width:300px; top:35px; left:648px;">
                <div class="app-control-element app-control-small-element">Avg:<span id="app_replicate_avg" class="app-data"></span></div>
                <div class="app-control-element app-control-small-element">Med:<span id="app_replicate_median" class="app-data"></span></div>
                <div class="app-control-element app-control-small-element">Min:<span id="app_replicate_min" class="app-data"></span></div>
                <div class="app-control-element app-control-small-element">Max:<span id="app_replicate_max" class="app-data"></span></div>
                <div class="app-control-element app-control-small-element">Std:<span id="app_replicate_std" class="app-data"></span></div>
            </div>
            <div class="ui-widget ui-widget-header ui-corner-all app-detail-graph-container app-replicate-graph-detail" style="width:300px; top:70px; left:648px;">
                <div style="width:120px;" class="app-control-element app-control-small-element">Replicate:<span id="app_replicate_x" class="app-data"></span></div>
                <div style="width:150px;" class="app-control-element app-control-small-element">Value:<span id="app_replicate_y" class="app-data"></span></div>
            </div>
            <div id="app_replicate_build_data" class="ui-widget ui-widget-header ui-corner-all app-detail-graph-container app-replicate-graph-detail" style="width:300px; height:305px; top:105px; left:648px; overflow-y:scroll; overflow-x:hidden;">
            </div>
        </div>
   </div>
</div>

{% if DEBUG %}
<script type="text/javascript" src="/static/js/plugins/jquery-1.6.3.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/jquery-ui-1.8.13.custom.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/jquery.history.js"></script>
<script type="text/javascript" src="/static/js/plugins/jquery.url.js"></script>
<script type="text/javascript" src="/static/js/plugins/flot-0.7/jquery.flot.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/flot-0.7/jquery.flot.selection.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/flot-0.7/jquery.flot.errorbars.js"></script>
<script type="text/javascript" src="/static/js/plugins/flot-0.7/jquery.flot.navigate.js"></script>

<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/static/js/plugins/flot-0.7/excanvas.min.js"></script><![endif]-->

<script type="text/javascript" src="/static/js/plugins/underscore-min.js"></script>
<script type="text/javascript" src="/static/js/plugins/box.js"></script>

<!-- Gives core mootools class functionality to jQuery -->
<script type="text/javascript" src="/static/js/plugins/mootools-core-1.4.0.js"></script>
<script type="text/javascript" src="/static/js/plugins/moo4q/Source/Class.Mutators.jQuery.js"></script>
<script type="text/javascript" src="/static/js/plugins/json2.js"></script>

<!-- Metric summary classes -->
<script type="text/javascript" src="/static/js/common/Bases.js"></script>
<script type="text/javascript" src="/static/js/b2g_apps/AppsPage.js"></script>
<script type="text/javascript" src="/static/js/b2g_apps/GraphControlsComponent.js"></script>
<script type="text/javascript" src="/static/js/b2g_apps/PerformanceGraphComponent.js"></script>
<script type="text/javascript" src="/static/js/b2g_apps/ReplicateGraphComponent.js"></script>

{% else %}
<script type="text/javascript" src="/static/js/b2g_apps/apps-summary-min.js"></script>

<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/static/js/plugins/flot-0.7/excanvas.min.js"></script><![endif]-->
{% endif %}


</body>
</html>
