<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Perf-o-Matic</title>
{% if DEBUG %}
    <link rel="stylesheet" href="/static/css/jquery-ui/jquery-ui-1.10.2.custom.min.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/Aristo/jquery-ui-1.8.7.custom.css" type="text/css"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />

    <link rel="stylesheet" href="/static/js/plugins/jQRangeSlider-min/css/iThing.css" />

    <link rel="stylesheet" href="/static/css/summary.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/homepage.css" type="text/css"/>
{% else %}
    <link rel="stylesheet" href="/static/css/homepage-min.css" type="text/css"/>
{% endif %}

</head>

<body>

<!--Toppanel-->
<div class="ui-widget ui-widget-header ui-corner-top su-toolbar-base hp-toppanel">
   <div class="hp-title">
        <a href=""><span id="logo"></span></a>
   </div>
</div>

<div id="hp_container" class="ui-widget ui-widget-header ui-corner-top hp-container su-light-text">

        <div class="ui-widget ui-widget-header ui-corner-all hp-control-container">

            <div style="display:inline;">

                <div class="hp-control-element su-large-text">Data Filters</div>
                <div class="hp-control-element" style="margin-left:10px; margin-right:20px;">
                    Project:
                    <select id="hp_project">
                        {% for p in PROJECTS %}
                        <option value="{{ p }}">{{ p }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="hp-control-element" style="margin-left:10px; margin-right:20px;">
                    Product/Repository:
                    <select id="hp_repository">
                    </select>
                </div>

            </div>
        </div>

        <div class="su-large-text" style="margin-left:380px; margin-top:50px;">Adjust time range to retrieve corresponding data.</div>

        <div id="slider" style="width:85%; margin-top:50px; margin-left:100px;"></div>

    <div id="hp_tabs" style="margin-top:100px;">
        <ul>
            <li><a href="#hp-metrics">Metrics</a></li>
            <li><a href="#hp-metrics">Machine Summary</a></li>
            <li><a href="#hp-json">JSON Objects</a></li>
            <li><a href="#hp-database">Database Summary</a></li>
        </ul>
        <div id="hp-metrics" style="height:1000px;">

            <div class="hp-list">
                <div class="ui-widget ui-widget-header ui-corner-top hp-list-controls">
                    <div style="padding:5px;">Browse By Platform</div>
                </div>
                <div id="hp_platform_menu" class="ui-corner-bottom"></div>
                <div style="margin-top:5px;" class="ui-widget ui-widget-header ui-corner-top hp-list-controls">
                    <div style="padding:5px;">Browse By Test </div>
                </div>
                <div id="hp_test_menu" class="ui-corner-bottom">
                </div>
            </div>
            <div class="ui-widget ui-widget-header ui-corner-top hp-graph-controls">
                <div id="hp_nav" class="hp-control-element" style="float:left; margin-left:10px; margin-right:20px;"></div>
                <div class="hp-control-element" style="float:right; margin-left:10px; margin-right:20px;">
                    Arch:
                    <select id="hp_arch">
                        <option value="x86"></option>
                    </select>
                </div>
                <div id="hp_linegraphs" class="hp-line-graph-container">
                </div>
            </div>
    
        </div>
        <div id="hp-json">
            <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
        </div>
        <div id="hp-database">
            <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
            <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
        </div>
    </div>
</div>

{% if DEBUG %}
<script type="text/javascript" src="/static/js/plugins/jquery/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/jquery/jquery-ui-1.10.2.custom.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/jQRangeSlider-min/jQDateRangeSlider-min.js"></script>
<script type="text/javascript" src="/static/js/plugins/jquery.history.js"></script>
<script type="text/javascript" src="/static/js/plugins/jquery.url.js"></script>
<script type="text/javascript" src="/static/js/plugins/d3.v2.min.js"></script>

<script type="text/javascript" src="/static/js/plugins/flot-0.7/jquery.flot.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/flot-0.7/jquery.flot.selection.min.js"></script>

<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/static/js/plugins/flot-0.7/excanvas.min.js"></script><![endif]-->

<script type="text/javascript" src="/static/js/plugins/underscore-min.js"></script>
<script type="text/javascript" src="/static/js/plugins/box.js"></script>

<!-- Gives core mootools class functionality to jQuery -->
<script type="text/javascript" src="/static/js/plugins/mootools-core-1.4.0.js"></script>
<script type="text/javascript" src="/static/js/plugins/moo4q/Source/Class.Mutators.jQuery.js"></script>
<script type="text/javascript" src="/static/js/plugins/flot-0.7/jquery.flot.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/flot-0.7/jquery.flot.selection.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/json2.js"></script>
<script type="text/javascript" src="/static/js/plugins/d3.v2.min.js"></script>

<!-- Homepage classes -->
<script type="text/javascript" src="/static/js/data_views/Bases.js"></script>
<script type="text/javascript" src="/static/js/homepage/HomePage.js"></script>
<script type="text/javascript" src="/static/js/homepage/SliderComponent.js"></script>
<script type="text/javascript" src="/static/js/homepage/NavComponent.js"></script>
<script type="text/javascript" src="/static/js/homepage/LineGraphComponent.js"></script>

{% else %}
<script type="text/javascript" src="/static/js/homepage-min.js"></script>

<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/static/js/plugins/flot-0.7/excanvas.min.js"></script><![endif]-->
{% endif %}


</body>
</html>
