<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Perf-o-Matic</title>
{% if DEBUG %}
    <link rel="stylesheet" href="/static/css/jquery-ui/jquery-ui-1.10.2.custom.min.css" type="text/css"/>
    <link rel="stylesheet" href="/static/css/Aristo/jquery-ui-1.8.7.custom.css" type="text/css"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="/static/js/plugins/jQRangeSlider-min/css/iThing.css" />
    <link rel="stylesheet" href="/static/css/homepage.css" type="text/css"/>
{% else %}
    <link rel="stylesheet" href="/static/css/homepage-min.css" type="text/css"/>
{% endif %}

</head>

<body>

<!--Toppanel-->

<div class="ui-widget ui-widget-header hp-container hp-light-text">
    <div class="hp-toppanel">
        <div class="hp-title">
            <a href=""><span id="logo"></span></a>
        </div>
    </div>
    <div style="top:30px;" class="ui-widget ui-widget-header hp-control-container">

        <div style="display:inline;" class="hp-light-text">
            <div class="hp-control-element">
                Project:
                <select id="hp_project">
                    {% for p in PROJECTS %}
                        <option value="{{ p }}">{{ p }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="hp-control-element">
                Product/Repository:
                <select id="hp_repository"></select>
            </div>

            <div class="hp-control-element" style="float:right;" title="Search a comma delimited list of revisions or machine names">
                Revision/Machine:
                <input id="hp_input" type="text" size="40"></input>
            </div>
        </div>
    </div>
</div>

<div id="hp_container" class="ui-widget ui-widget-header ui-corner-top hp-container-two hp-light-text">
    <!--<div id="slider" style="position:relative; width:90%; margin-top:50px; margin-left:100px;"></div>-->
    <div id="slider" style="position:relative;" class="ui-rangeSlider ui-dateRangeSlider"></div>
    <div id="hp_tabs" style="margin-top:100px;">
        <ul>
            <li><a href="#hp-metrics">Metrics</a></li>
            <li><a href="#hp-metrics">Machine Summary</a></li>
            <li><a href="#hp-json">JSON Objects</a></li>
            <li><a href="#hp-database">Database Summary</a></li>
        </ul>
        <div id="hp-metrics" style="height:1000px;">

            <div class="hp-list">
                <div class="ui-widget ui-widget-header ui-corner-top hp-list-controls">
                    <div style="padding:5px;">Browse By Platform</div>
                </div>
                <div id="hp_platform_menu" class="ui-corner-bottom"></div>
                <div style="margin-top:5px;" class="ui-widget ui-widget-header ui-corner-top hp-list-controls">
                    <div style="padding:5px;">Browse By Test </div>
                </div>
                <div id="hp_test_menu" class="ui-corner-bottom">
                </div>
            </div>
            <div class="ui-widget ui-widget-header ui-corner-top hp-graph-controls">
                <div id="hp_nav" class="hp-control-element"></div>
                <div id="hp_linegraphs" class="hp-line-graph-container">
                </div>
            </div>
    
        </div>
        <div id="hp-json"></div>
        <div id="hp-database"></div>
    </div>
    <!--This div insures that the last graph is visible above the detail panel -->
    <div style="height:225px;"></div>
    <div id="hp_detail_panel" class="ui-widget ui-widget-header ui-corner-bottom hp-graph-control-container">

        <div class="ui-widget ui-widget-header hp-tip-control-panel">
            <div id="hp_toolbar_details" style="display:inline; float:left;"></div>
            <div style="display:inline; float:left;" class="hp-hover-inline-datum">
                <span class="hp-light-text">min:</span><span id="hp_replicate_min"></span><span style="margin-left:10px;" class="hp-light-text">max:</span><span id="hp_replicate_max"></span><span style="margin-left:35px;" class="hp-light-text">search by:</span><a id="hp_search_machine" title="Click the machine name to highlight it in all graphs" href="#"></a>
            </div>
            <span id="hp_close_detail_panel" style="float:right; margin-right:10px;" class="ui-icon ui-icon-close" title="Close detail panel" ></span>
        </div>
        <div id="hp_hover_detail_one" class="hp-tip-panel"></div>
        <div id="hp_replicates" style="margin-left: 270px; margin-top: 25px; width:550px; height:125px;"></div>
        <div id="hp_hover_detail_two" class="hp-replicate-hover-panel">
            <div><span class="hp-light-text">Replicate:</span><span id="hp_replicate_num"></span><span style="margin-left:10px;" class="hp-light-text">Run Time:</span><span id="hp_replicate_run_time"></span><span style="margin-left:3px;" class="hp-light-text">ms</span></div>
        </div>
    </div>
</div>

{% if DEBUG %}
<script type="text/javascript" src="/static/js/plugins/jquery/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/jquery/jquery-ui-1.10.2.custom.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/jQRangeSlider-min/jQDateRangeSlider-min.js"></script>
<script type="text/javascript" src="/static/js/plugins/jquery.history.js"></script>
<script type="text/javascript" src="/static/js/plugins/jquery.url.js"></script>
<script type="text/javascript" src="/static/js/plugins/d3.v2.min.js"></script>

<script type="text/javascript" src="/static/js/plugins/flot-0.7/jquery.flot.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/flot-0.7/jquery.flot.selection.min.js"></script>

<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/static/js/plugins/flot-0.7/excanvas.min.js"></script><![endif]-->

<script type="text/javascript" src="/static/js/plugins/underscore-min.js"></script>
<script type="text/javascript" src="/static/js/plugins/box.js"></script>

<!-- Gives core mootools class functionality to jQuery -->
<script type="text/javascript" src="/static/js/plugins/mootools-core-1.4.0.js"></script>
<script type="text/javascript" src="/static/js/plugins/moo4q/Source/Class.Mutators.jQuery.js"></script>
<script type="text/javascript" src="/static/js/plugins/flot-0.7/jquery.flot.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/flot-0.7/jquery.flot.selection.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/json2.js"></script>
<script type="text/javascript" src="/static/js/plugins/d3.v2.min.js"></script>

<!-- Homepage classes -->
<script type="text/javascript" src="/static/js/data_views/Bases.js"></script>
<script type="text/javascript" src="/static/js/homepage/SelectionState.js"></script>
<script type="text/javascript" src="/static/js/homepage/HomePage.js"></script>
<script type="text/javascript" src="/static/js/homepage/SliderComponent.js"></script>
<script type="text/javascript" src="/static/js/homepage/NavComponent.js"></script>
<script type="text/javascript" src="/static/js/homepage/LineGraphComponent.js"></script>

{% else %}
<script type="text/javascript" src="/static/js/homepage-min.js"></script>

<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/static/js/plugins/flot-0.7/excanvas.min.js"></script><![endif]-->
{% endif %}


</body>
</html>
