<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Perf-o-Matic</title>
    <link rel="stylesheet" href="/media/css/Aristo/jquery-ui-1.8.7.custom.css" type="text/css"/>
    <link rel="stylesheet" href="/media/css/datatables.css" type="text/css"/>
    <link rel="stylesheet" href="/media/css/fg.menu.css" type="text/css"/>
    <link rel="stylesheet" href="/media/css/ColVisAlt.css" type="text/css"/>
    <link rel="stylesheet" href="/media/css/dataviews.css" type="text/css"/>

</head>

<body>

<input id="dv_reference_json" type="hidden" value="{{ reference_json }}" />

<input id="dv_start_date" type="hidden" value="{{ start_date|date:"c" }}" />
<input id="dv_end_date" type="hidden" value="{{ end_date|date:"c" }}" />
<input id="dv_current_date" type="hidden" value="{{ current_date|date:"c" }}" />

{% for signal in signals %}
<input id="dv_post_{{ signal.name }}" type="hidden" value="{{ signal.value }}" />
{% endfor %}
<input id="dv_parent_dview_index" type="hidden" value="{{ dv_parent_dview_index }}" />

<!-- Nav JSON datastructure -->
{% include 'graphs.navlookup.html' %}

<div id="dv_legend" class="ui-state-highlight ui-corner-all dv-vis-detail-panel" style="display:none;">
   <div style="margin-bottom:5px;">
      <div name="dv_dataset_title" class="dv-wordwrap css-left" style="width:130px;"></div>
      <a name="dv_dataset_close" title="close" href="#closedataset"><div class="ui-icon ui-icon-close css-right" style="margin-left:2px; margin-right:2px;"></div></a>
   </div>
   <div name="dv_dataset_cb" class="css-left" style="margin-top:10px;"></div>
</div>

<!--button for cell context menu-->
<span class="dv-cell-contextanchor hidden">
   <a title="Open Link Options" href="#cellmenu" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all css-right dv-cell-menu-toggle" style="background:#FFFFFF">
      <span class="ui-icon ui-icon-triangle-2-n-s css-right"></span>
   </a>
</span>

<!-- Connections Modal -->
<div class="dv-connections-modal ui-widget ui-corner-top hidden" title="Open New View">
   <ul>
      <li><a href="#dv_open_new_view_tab">Open New View</a></li>
   </ul>
   <div id="dv_open_new_view_tab">
      <div class="dv-modal-element">Open in: 
         <input class="dv-page-newpane" type="radio" name="open" value="page" checked="checked"/>
         Page
         <input class="dv-page-newpane" type="radio" name="open" value="pane" />
         New Pane
      </div>
      <hr class="dv-horz-line"></hr>
      <div class="dv-modal-element">Choose A View:
         <select id="dv_view_list" size="6"></select>
      </div>
   </div>
</div>
<!-- END Modal -->

<!--Toppanel-->
<div class="ui-widget ui-widget-header ui-corner-top dv-toolbar-base dv-toppanel">
   <!--<div id="userinfo"> logged in as {{ username }} [<a href="/logout/">log out</a>] </div>
   <div id="userinfo"> {{ username }} [<a href="/logout/">log out</a>] </div>-->
   <div class="pm-title">
        <a href=""><span id="logo"></span></a>
   </div>
</div>

<!-- Main attachment site for all bh views -->
<div id="dv_view_container"></div>

<!-- END VISIBLE BODY -->

<!--Cloned Elements-->
<div id="dv_view_wrapper_c" class="ui-helper-clearfix hidden">

   <div id="dv_spinner_c" class="dv-spinner ui-widget"></div>

   <div id="dv_view_c" style="height:400px;" class="hidden">
      <!-- View Container -->
      <div id="dv_topbar_c" class="ui-widget ui-corner-all dv-toolbar-base dv-toolpanel hidden">
         <!-- View Top Menu Bar -->
         <div class="fg-toolbar ui-toolbar ui-widget-header ui-corner-top dv-viewtext ui-helper-clearfix">

            <a id="dv_closetable_bt_c" class="css-right dv-viewbutton fg-button ui-state-default fg-button-icon-left ui-corner-all" href="#closetable" title="Close">
               <span class="css-right ui-icon ui-icon-closethick"></span>
            </a>
            <a id="dv_newwindow_bt_c" class="css-right dv-viewbutton fg-button ui-state-default fg-button-icon-left ui-corner-all" href="#newwindow" title="Move To New Window">
               <span class="css-right ui-icon ui-icon-extlink"></span>
            </a>
            <a id="dv_refresh_bt_c" class="css-right dv-viewbutton fg-button ui-state-default fg-button-icon-left ui-corner-all" href="#refresh" title="Refresh">
               <span class="css-right ui-icon ui-icon-refresh"></span>
            </a>
            <a id="dv_help_bt_c" class="css-right dv-viewbutton fg-button ui-state-default fg-button-icon-left ui-corner-all" href="#help" title="Help">
               <span class="css-right ui-icon ui-icon-help"></span>
            </a>
            <a id="dv_openwindow_bt_c" class="css-right dv-viewbutton fg-button ui-state-default fg-button-icon-left ui-corner-all" href="#openwindow" title="Open New View">
               <span class="css-right ui-icon ui-icon-newwin"></span>
            </a>
            <a id="dv_increasesize_bt_c" class="css-right dv-viewbutton fg-button ui-state-default fg-button-icon-left ui-corner-all" href="#increasesize" title="Increase View Panel Size">
               <span class="css-right ui-icon ui-icon-circle-plus"></span>
            </a>
            <a id="dv_decreasesize_bt_c" class="css-right dv-viewbutton fg-button ui-state-default fg-button-icon-left ui-corner-all" href="#decreasesize" title="Decrease View Panel Size">
               <span class="css-right ui-icon ui-icon-circle-minus"></span>
            </a>

            <a id="dv_visualization_c" tabindex="0" href="#" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all css-right dv-flatmenu" style="background:#FFFFFF">
               <span>Visualization</span><span class="ui-icon ui-icon-triangle-2-n-s css-right"></span>
            </a>
            <ul id="dv_vis_menu_c" class=" hidden">
               <li id="dv_vis_li_clone" style="display:none;"><a href="#" class=""></a></li>
            </ul>
            <span style="margin-right:5px;" class="fg-toolbar css-right">Parent:<span id="dv_parent_display_c">None</span></span>
            <span style="margin-right:5px;" class="fg-toolbar css-right">View:<span id="dv_view_display_c">1</span></span>

            <a id="dv_nav_menu_c" tabindex="0" href="#" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all css-left" style="background:#FFFFFF;">
               <span class="">View Navigation</span><span class="ui-icon ui-icon-triangle-2-n-s css-right"></span>
            </a>

            <a id="dv_control_panel_c" tabindex="0" href="#" class="fg-button fg-button-icon-right ui-widget ui-state-default ui-corner-all  css-left" style="background:#FFFFFF;">
               <span class="">Control Panel</span><span class="ui-icon ui-icon-triangle-2-n-s css-right"></span>
            </a>

            <span class="fg-toolbar css-left " style="margin-left:5px;"><span id="dv_view_title_c"></span></span>
         
         </div>

         <div class="fg-toolbar ui-toolbar ui-widget-header ui-corner-top dv-viewtext ui-helper-clearfix">
            <div class="css-left">
               <span class="display">Signals:</span><span class="display" style="margin-left:5px;">Range:</span><span class="display" id="dv_signal_date_range_c"></span>
               <span class="dv-signal-title" style="margin-left:5px;">Sent:</span><span class="display" id="dv_signal_data_sent_c"></span>
               <span class="dv-signal-title" style="margin-left:5px;">Received:</span><span class="display" id="dv_signal_data_received_c"></span>
            </div>
            <span id="dv_signal_help_bt_c" class="css-right ui-icon ui-icon-help" title="Help"></span>
         </div>
        
         <div id="dv_table_nodata_c" class="dv-nodata hidden ui-helper-clearfix"></div>
         <div id="dv_table_spinner_c" class="dv-spinner ui-widget ui-helper-clearfix"></div>

      </div>
      <table id="dv_tview_c" cellpadding="0" cellspacing="0" border="0" class="display"></table>


   </div>
   <div id="dv_vis_container_c" style="display:none; overflow:auto; width:95%;" class="ui-widget dv-toolbar-base ui-helper-clearfix display">
      <div id="dv_vis_graph_container_c" class="display">
         <div id="dv_vis_graph_detail_c" class="ui-widget ui-helper-clearfix css-left" style="width:200px; overflow-y:auto;" class="ui-widget"></div>
         <div id="dv_vis_graph_c" class="css-right" style="width:900px; height:500px; margin-left:30px; margin-bottom:15px;" class="ui-widget"></div> 
         <div id="dv_vis_graph_detail_two_c" class="ui-widget ui-helper-clearfix css-right" style="height:200px;">
            <div id="dv_hover_detail_c"></div>
            <div id="dv_click_detail_c" class="ui-state-highlight ui-corner-all" style="overflow-y:scroll; height:120px; border-width:1px; background-color:#FFFFFF; border-color:#000000; margin-top:10px;"></div>
         </div>
      </div>
   </div>
</div>
<div id="dv_spacer_c" class="ui-helper-clearfix" style="height:10px;"></div>


<script type="text/javascript" src="/media/js/plugins/jquery-1.6.3.min.js"></script>
<script type="text/javascript" src="/media/js/plugins/jquery-ui-1.8.13.custom.min.js"></script>
<script type="text/javascript" src="/media/js/plugins/jquery.url.js"></script>

<script type="text/javascript" src="/media/js/plugins/flot-0.7/jquery.flot.min.js"></script>
<script type="text/javascript" src="/media/js/plugins/flot-0.7/jquery.flot.selection.min.js"></script>
<script type="text/javascript" src="/media/js/plugins/flot-0.7/jquery.flot.crosshair.min.js"></script>
<script type="text/javascript" src="/media/js/plugins/flot-0.7/jquery.flot.fillbetween.min.js"></script>
<script type="text/javascript" src="/media/js/plugins/flot-0.7/jquery.flot.orderBars.js"></script>

<script type="text/javascript" src="/media/js/plugins/underscore-min.js"></script>
<script type="text/javascript" src="/media/js/plugins/d3.v2.min.js"></script>
<script type="text/javascript" src="/media/js/plugins/box.js"></script>

<!-- Gives core mootools class functionality to jQuery -->
<script type="text/javascript" src="/media/js/plugins/mootools-core-1.4.0.js"></script>
<script type="text/javascript" src="/media/js/plugins/moo4q/Source/Class.Mutators.jQuery.js"></script>

<script type="text/javascript" src="/media/js/plugins/datatables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/media/js/plugins/datatables/ColVis.js"></script>


<!-- This version of fg.menu.js has been heavily modified to work in bughunter -->
<script type="text/javascript" src="/media/js/plugins/fg.menu.js"></script>
<script type="text/javascript" src="/media/js/plugins/json2.js"></script>

<!-- Bughunter classes-->
<script type="text/javascript" src="/media/js/data_views/Bases.js"></script>
<script type="text/javascript" src="/media/js/data_views/ConnectionsComponent.js"></script>
<script type="text/javascript" src="/media/js/data_views/DataAdapterCollection.js"></script>
<script type="text/javascript" src="/media/js/data_views/VisualizationCollection.js"></script>
<script type="text/javascript" src="/media/js/data_views/DataViewComponent.js"></script>
<script type="text/javascript" src="/media/js/data_views/DataViewCollection.js"></script>
<script type="text/javascript" src="/media/js/data_views/DataViewPage.js"></script>

</body>
</html>
